:root {
    --font-size: 10px;
    --dark-text: hsl(0, 0%, 13%);
    --grey-text: hsl(0, 0%, 29%);
    --light-grey-text: hsl(0, 0%, 45%);
    --normal-font-weight: 400;
    --heavy-font-weight: 700;
    --highlight-color: #7FDEFF;
}
html {
    box-sizing: border-box;
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    font-weight: var(--heavy-font-weight);
    line-height: 1.15;
    font-size: var(--font-size);
}
body {
    min-height: calc(100vh - 100px);
    background-size: 340px, auto;
    border-top: solid 0.25rem var(--highlight-color);
    margin: 0;
    padding: 0 2rem;
}

/* Header */
.header {
    text-align: center;
    font-size: 3rem;
}

/* Navigation Bar */
.navBar {
    display: flex; /* Keeps toggle icon above other content*/
    margin: .5rem;
}
.navBar__toggle {
    display: none;
}
.fa-bars {
    font-size: 3rem;
}
.navBar__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.navBar__item {
    font-size: 2rem;
}
.navBar__link {
    text-decoration: none;
    color: var(--grey-text);
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 50vh;
    max-width: 100vw;
    margin-top: 1rem;
}
/*todo, toggle filters on mobile like nav bar */
.filters {
}
.filters__block {
    border: solid 1px #7FDEFF; /* todo remove */
    margin: .5rem;
    font-size: 1.5rem;
}
.filters__title {
    margin: .5rem 0;
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text)
}
.filters__search {
    font-weight: var(--normal-font-weight);
    line-height: 2rem;
    width: 80%;
}
.filters__list {
    padding: 0;
    margin: 0;
}
.filters__item {
    list-style: none;
    font-weight: var(--normal-font-weight);
    color: var(--light-grey-text);
}
.filters__maxKilometers {
    font-weight: var(--normal-font-weight);
    line-height: 2rem;
    width: 80%;
}
.filters__maxPrice {
    font-weight: var(--normal-font-weight);
    line-height: 2rem;
    width: 80%;
}
.filters__minPrice {
    font-weight: var(--normal-font-weight);
    line-height: 2rem;
    width: 80%;
}
.results {
}
.results__block {
    border: solid 1px #7FDEFF; /* todo remove */
    margin: .5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.results__info {
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text)
}
.results__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.results__title {
    grid-area: results__title;
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text)
}
.results__specs {
    grid-area: results__specs;
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text)
}
.results__price {
    grid-area: results__price;
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text)
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    font-size: 2rem;
}
.footer__column {
    text-align: left;
}
.footer__title {
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text);
}
.footer__about {
    font-weight: var(--normal-font-weight);
    color: var(--grey-text);
}
.footer__hours {
    width: 100%;
    font-weight: var(--normal-font-weight);
}
.footer__contact {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__item {
    font-weight: var(--normal-font-weight);
    color: var(--grey-text);
}
.footer__link {
    color: var(--grey-text);
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .navBar__menu,
    .navBar {
        flex-direction: column;
    }
    .navBar__menu {
        display:none;
    }
    .navBar__toggleShow {
        display: flex;
    }
    .navBar__toggle {
        align-self: flex-end; /* Keeps toggle icon to the right away from nav links*/
        display: initial;
        cursor: pointer;
    }
    .hero {
        grid-template-columns: 1fr;
    }
    .footer {
        grid-template-columns: 1fr;
    }
}
