:root {
    --font-size: 20px;
    --dark-text: hsl(0, 0%, 13%);
    --grey-text: hsl(0, 0%, 29%);
    --light-grey-text: hsl(0, 0%, 45%);
    --normal-font-weight: 400;
    --heavy-font-weight: 700;
    --highlight-color: #7FDEFF;
}

html {
    box-sizing: border-box;
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    font-weight: var(--heavy-font-weight);
    line-height: 1.15;
    font-size: var(--font-size);
}

body {
    min-height: calc(100vh - 100px);
    background-size: 340px, auto;
    border-top: solid 0.25rem var(--highlight-color);
    margin: 0;
    padding: 0 2rem;
}

/* Header */
.header {
    text-align: center;
}

/* Navigation Bar */
.navBar {
    perspective: 600px;
}
.navBar__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.navBar__item {
    display: flex;
}
.navBar__link {
    color: var(--grey-text);
    text-decoration: none;
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.filter {

}
.results {

}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.footer__column {
    text-align: left;
}
.footer__title {
    font-weight: var(--heavy-font-weight);
    color: var(--grey-text);
}
.footer__about {
    font-weight: var(--normal-font-weight);
    color: var(--grey-text);
}
.footer__hours {
    width: 100%;
    font-weight: var(--normal-font-weight);
}
.footer__contact {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__item {
    font-weight: var(--normal-font-weight);
    color: var(--grey-text);
}
.footer__link {
    color: var(--grey-text);
    text-decoration: none;
}